<mat-form-field appearance="standard">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Osmael" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- nomeCliente Column -->
  <ng-container matColumnDef="nomeCliente">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
  </ng-container>

  <!-- estaEmDia Column -->
  <ng-container matColumnDef="estaEmDia">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Em dia </th>
    <td mat-cell *matCellDef="let element"> {{element.estaEmDia}} </td>
  </ng-container>

  <!-- tipoDoEmprestimo Column -->
  <ng-container matColumnDef="quantidadeDeParcelas">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> N. Parcelas </th>
    <td mat-cell *matCellDef="let element"> {{element.quantidadeDeParcelas}} </td>
  </ng-container>

  <!-- quantidadeDeParcelas Column -->
  <ng-container matColumnDef="tipoDoEmprestimo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
    <td mat-cell *matCellDef="let element"> {{element.tipoDoEmprestimo}} </td>
  </ng-container>

  <!-- dataDaPrimeiraParcela Column -->
  <ng-container matColumnDef="dataDaPrimeiraParcela">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Primeira parcela </th>
    <td mat-cell *matCellDef="let element"> {{element.dataDaPrimeiraParcela}} </td>
  </ng-container>

  <!-- dataDaUltimaParcela Column -->
  <ng-container matColumnDef="dataDaUltimaParcela">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Última parcela </th>
    <td mat-cell *matCellDef="let element"> {{element.dataDaUltimaParcela}} </td>
  </ng-container>

  <!-- valorEmprestado Column -->
  <ng-container matColumnDef="valorEmprestado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Val. Emprestado </th>
    <td mat-cell *matCellDef="let element"> {{element.valorEmprestado}} </td>
  </ng-container>

  <!-- valorEmJuros Column -->
  <ng-container matColumnDef="valorEmJuros">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Val. Juros </th>
    <td mat-cell *matCellDef="let element"> {{element.valorEmJuros}} </td>
  </ng-container>

  <!-- valorTotal Column -->
  <ng-container matColumnDef="valorTotal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Val. total </th>
    <td mat-cell *matCellDef="let element"> {{element.valorTotal}} </td>
  </ng-container>

<!-- action icons -->
<ng-container matColumnDef="actionIcons">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Gerenciar</th>
  <td mat-cell *matCellDef="let element">
    <span class="material-icons">
      <a aria-current="page" [routerLink]="['../gerenciar', element.id]">{{actionIcons}}</a>
    </span>
  </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [pageSizeOptions]="[3, 5, 8]" aria-label="Select page"></mat-paginator>
</div>
