<div class="row">
  <div class="col mb-5">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <span class="material-icons" style="font-size: 120px; text-align: center;">currency_bitcoin</span>
      </div>
      <div class="col-3"></div>
    </div>
    <h1 class="text-center">Finaman</h1>
  </div>
  <hr class="shadow-lg" />



  <div class="col mt-5">

    <ul class="fs-4 text-center nav flex-column nav-pills">
      <li class="nav-item mb-5 shadow ">
        <a class="nav-link border border-info border-3" aria-current="page" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item mb-5 shadow ">
        <a class="nav-link border border-info border-3" aria-current="page" routerLink="cliente" routerLinkActive="active">Clientes</a>
      </li>
      <li class="nav-item mb-5 shadow ">
        <a class="nav-link border border-info border-3" aria-current="page" routerLink="emprestimo" routerLinkActive="active">Empréstimos</a>
      </li>
      <li class="nav-item mb-5 shadow ">
        <a class="nav-link border border-info border-3" aria-current="page" routerLink="caixa" routerLinkActive="active">Caixa</a>
      </li>
    </ul>

  </div>
</div>
