.cadastroMatFormField{
  text-transform: uppercase;
}

.simularMatFormField {
  width: 30%;
  text-transform: uppercase;
}

.checkboxDiasSemana {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
