<div class="container">
  <div class="row mb-5">

    <div class="col-4 p-2">
      <div class="">
        <mat-card>
          <mat-card-title>Empréstimos em atraso</mat-card-title>
          <mat-card-subtitle>Total de empréstimos atrasados</mat-card-subtitle>
          <mat-card-content class="text-center">
            <h1>0</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-4 p-2">
      <div class="">
        <mat-card>
          <mat-card-title>Empréstimos em dia</mat-card-title>
          <mat-card-subtitle>Total de empréstimos atrasados</mat-card-subtitle>
          <mat-card-content class="text-center">
            <h1>0</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-4 p-2">
      <div class="">
        <mat-card>
          <mat-card-title>Total de empréstimos ativos</mat-card-title>
          <mat-card-subtitle>Total de empréstimos atrasados</mat-card-subtitle>
          <mat-card-content class="text-center">
            <h1>0</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>

  <div class="row mb-5">

    <div class="col-4 p-2">
      <div class="">
        <mat-card>
          <mat-card-title>Empréstimos que acabam esta semana</mat-card-title>
          <mat-card-subtitle>Total de empréstimos atrasados</mat-card-subtitle>
          <mat-card-content class="text-center">
            <h1>0</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-4 p-2">
      <div class="">
        <mat-card>
          <mat-card-title>Empréstimos que acabam semana que vem</mat-card-title>
          <mat-card-subtitle>Total de empréstimos atrasados</mat-card-subtitle>
          <mat-card-content class="text-center">
            <h1>0</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-4 p-2">
      <div class="">
        <mat-card>
          <mat-card-title>Empréstimos que acabam este mês</mat-card-title>
          <mat-card-subtitle>Total de empréstimos atrasados</mat-card-subtitle>
          <mat-card-content class="text-center">
            <h1>0</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-4 p-2">
      <div class="">
        <mat-card>
          <mat-card-title>Total de emprestimos feitos até hoje</mat-card-title>
          <mat-card-subtitle>Total de empréstimos atrasados</mat-card-subtitle>
          <mat-card-content class="text-center">
            <h1>0</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-4 p-2">
      <div class="">
        <mat-card>
          <mat-card-title>Total de empréstimos finalizados</mat-card-title>
          <mat-card-subtitle>Total de empréstimos atrasados</mat-card-subtitle>
          <mat-card-content class="text-center">
            <h1>0</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-4 p-2">
      <div class="">
        <mat-card>
          <mat-card-title>Empréstimos que acabam este mês</mat-card-title>
          <mat-card-subtitle>Total de empréstimos atrasados</mat-card-subtitle>
          <mat-card-content class="text-center">
            <h1>0</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>
