
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg1{
  background-color: rebeccapurple;
}

.bg2{
  background-color: red;
}

.bg3{
  background-color: green;
}

.bg4{
  background-color: fuchsia;
}

.bg5{
  background-color: teal;
}

.bg6{
  background-color: orange;
}
