<div class="container mt-3">
  <div class="row d-flex">
    <div class="d-flex justify-content-center">
      <ul class="nav nav-pills fs-5" id="pills-tab">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link p-3 me-2 shadow"
            id="consulta"
            routerLink="consulta"
            routerLinkActive="active"
            >Consulta</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link p-3 me-2 shadow"
            id="cadastro"
            routerLink="cadastro"
            routerLinkActive="active"
            >Cadastro</a
          >
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="container">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
