<div class="container">
<div class="row">
  <ul class="nav nav-pills fs-5" id="pills-tab">
    <li class="nav-item" role="presentation">
      <a class="nav-link p-3 me-2 shadow" id="cadastro" routerLink="cadastro" routerLinkActive="active" >Cadastro</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link p-3 me-2 shadow" id="consulta" routerLink="consulta" routerLinkActive="active" >Consulta</a>
    </li>
  </ul>
</div>
  <div class="col-3"></div>

<hr />

<div class="container">
  <div class="row">
    <div class="col-12">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
